# Impor packages

In [4]:
# pip install pandas
import pandas as pd

In [10]:
import os
os.getcwd()

'f:\\File Kuliah\\#3 MySkill.id - Data Analyst With Python\\Materi 1'

# Impor data dari Microsoft Excel ke DataFrame

In [11]:
df_excel = pd.read_excel('Online Retail Data.xlsx', sheet_name='Online Retail Data', header=0)

In [12]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  459055 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  datetime64[ns]
 5   price         461773 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 24.7+ MB

In [14]:
df_excel.describe()

            quantity          price    customer_id
count  461773.000000  461773.000000  360853.000000
mean        9.088892       4.569963   15557.611138
std        86.366467     153.411566    1593.728741
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   14210.000000
50%         3.000000       2.100000   15580.000000
75%        10.000000       4.210000   16938.000000
max     10200.000000   25111.090000   18287.000000

In [15]:
df_excel.isnull().sum()

order_id             0
product_code         0
product_name      2718
quantity             0
order_date           0
price                0
customer_id     100920
dtype: int64

In [16]:
df_excel.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
461768    False
461769    False
461770    False
461771    False
461772    False
Length: 461773, dtype: bool

# Impor data dari CSV ke DataFrame

In [17]:
df_csv = pd.read_csv('Online Retail Data.csv', header=0)
df_csv

,order_id,product_code,product_name,quantity,order_date,price,customer_id
0,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.50,12346.0
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0
2,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.50,12346.0
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,0.85,NaN
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.75,NaN
...,...,...,...,...,...,...,...
461768,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,NaN
461769,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,NaN
461770,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,NaN
461771,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,NaN
461772,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,NaN

In [18]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  459055 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  object
 5   price         461773 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 24.7+ MB

# Impor data dari Google Sheets ke DataFrame

Langkah-langkah persiapan:

1. Login ke Google Cloud Console (https://console.cloud.google.com/)
2. Buat project (jika belum punya sebelumnya)
3. Enable Google Drive API dan Google Sheets API di APIs and Services
4. Buat service account, simpan/salin alamat email service account
5. Buat credential key dan ekspor sebagai JSON
6. Berikan akses edit ke email service account (poin 2) di file Google Sheets yang hendak di-import

In [44]:
# pip install gspread
import gspread as gs

In [45]:
sheet_id = '16U0hCEN9Iwz7ZoWpuUU6PzZkOuhd6lxDr-8owR9cmbQ'
sheet_name = 'Online Retail Data'
gc = gs.service_account('ivan-private-project-4c3abf98fa8b.json')
sheet = gc.open_by_key(sheet_id).worksheet(sheet_name).get_all_records()
df_sheets = pd.DataFrame(sheet)
df_sheets

,order_id,product_code,product_name,quantity,order_date,price,customer_id
0,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.50,12346
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590
2,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.50,12346
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,0.85,
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.75,
...,...,...,...,...,...,...,...
461768,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,
461769,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,
461770,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,
461771,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,
461772,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,

In [46]:
df_sheets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  461773 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  object
 5   price         461773 non-null  float64
 6   customer_id   461773 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 24.7+ MB